njc-wma-client-mobile-eapi-1.0.0-snapshot-mule-application/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="clientDetailsFlow" doc:id="d542467f-c28f-4517-add5-49706d9b3929" >
		<logger level="INFO" doc:name="Initial Logger" doc:id="81fe01f6-60ac-4b7b-bda7-f8b8b0b07e4b" message="Start Logger"/>
		<http:request method="GET" doc:name="Request" doc:id="71751001-0179-4686-a2cf-db282d57d5a4" config-ref="HTTP_Request_configuration" path="/api/client/{Id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"Id" : attributes.uriParams.Id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="360d1006-2e0a-44bb-9b6d-88412fea6d39" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="597fea13-d59b-4ba7-bcd4-7e0674a93635" message="End Logger"/>
	</flow>
</mule>
